

.bp-img img{
  display: flex;
    flex-direction: column;
    width:  88%;
    height: 85%;
  }

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&family=Shippori+Antique&display=swap');
  /* @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&family=Shippori+Antique&display=swap'); */
.bp-heading{
    font-family: 'Playfair Display', serif;
    /* font-family: 'Shippori Antique', sans-serif; */
    font-weight: 600;
    font-size: 2.5rem;
    letter-spacing: 1px;
    margin-bottom: 46%;
    }


.bp-content{
    justify-content: center;
    align-items: center;
  }


  @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400&display=swap');
.bp-content p{
    font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  color: grey;
  width: 94%;
  }

.bp-descrptn{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: #646870;
    font-family: 'Roboto Condensed', sans-serif;
    margin-bottom: 3%;
  }

.wroteby{
    display: flex;
    flex-direction: row;
    position: relative;
    left: 57%;
  }

.side_heading{
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    padding-left: 28%;
  }

.side_content p{
    font-family: 'Roboto Condensed', sans-serif;
    color: #646870;
    margin-bottom: 3%;
    /* font-size: 1.1rem; */
}

  /*------------------------symbols---------------------------*/
  
.social-container {
    padding: 20px ;
    padding-left: 12%;
}

a.social {
    margin: 0 1rem;
    transition: transform 250ms;
    display: inline-block;
  }

a.social:hover {
    transform: translateY(-2px);
    transform: rotate(180);
    color:orange ;
  }
  
a.facebook, .behance, .twitter, .linkedin, .instagram {
    color: #2a2a2a;
  }

  /*----Responsiveness------*/
  @media (max-width: 1400px) 
  {
    .side_heading{
      padding-left: 25%;
    }

    .social-container {
      padding: 20px ;
      padding-left: 3%;
  }
  }

  @media (max-width: 1054px) 
  {
    .side_heading{
      padding-left: 10%;
    }
  }

  @media (max-width: 995px) 
  {
    .side_heading{
      padding-left: 16%;
    }
  }

  @media (max-width: 764px) 
  {
    .side_heading{
      padding-left: 24%;
    }
  }
  