.slick-slide > div {
  margin: 0 10px;
}
.slick-list {
  margin: 0 -10px;
}

.bnr-descrptn{
  display: flex;
  width: 95%;
  flex-direction: row;
  flex-wrap: wrap;
  color: #646870;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 107%;
  margin-bottom: 3%;
}

.wroteby{
  display: flex;
  flex-direction: row;
  position: relative;
  font-size: 107%;
  left: 44%;
}
.side-heading{
  font-family: 'Playfair Display', serif;
  font-size: 170%;
  margin-top: 3.2%;
  margin-right: 3%;
  margin-left: 3%;
}

.headin{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.headin h1{
  font-family: 'Playfair Display', serif;
  font-weight: 800;
}

.headin h6{
  font-family: 'Playfair Display', serif;
  font-weight: 500;
}


a.one{
    transform: translateY(-2px);
    transform: rotate(180);
}