.bg{
    background-image: url('./cbbg3.jpg');
    background-repeat: no-repeat;
    height: 100%;
    background-position: center;
    background-size: cover;
}

.uploadImage{
    
    color: #3b3b3b;
    background-color: #f1f1f1;
    font-family: 'Playfair Display', serif;
    border-radius: 5px;
}

.bumton{
    color: rgb(0, 0, 0);
    background-color: #E0E0E0;
    font-family: 'Playfair Display', serif;
}

h6, .tag{
    position: relative !important;
    padding-left: 15px !important;
    color: #404040;
    font-weight: 600;
    font-size: large;
    padding-top: 15px;
    
}

.displayTags{
    line-height: 40px;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400&display=swap');
.attch{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    color: rgb(0, 0, 0);
    width: 25%;
    padding: 20px;
    
}

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&family=Shippori+Antique&display=swap');
.att{
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    font-size: 1.5rem;
    letter-spacing: 1px;
    padding-left: 10px;
    padding-right: 10px;
}

.form-control{
    background-color: #f1f1f1;
    
}


.badges{
    display: inline-block;
    padding: 0px 10px !important; 
    background-color: #f0f0f0;
    color: rgb(99, 99, 99);
    border-radius: 60px;
    margin: 5px !important;
}

.form-control::placeholder { 
    font-family: 'Playfair Display', serif;;
    opacity: 1; 
    font-weight: 600;
  }

  